body {
	margin: 0 1em;
	padding: 0;
	font-family: arial,helvetica,sans-serif; 
	font-size: 18px;
	line-height: 1.5;
}

h1 {
	text-align: center;
	cursor: pointer;
}

/* abstract list (inline blocks) */
.list {
	padding: 0;
	margin:  0 0 1em 0;
}
.list-item {
	display: inline-block;
	list-style-type: none;
}

.has-selected .list-item .link {
	color: #888;
}
.list-item:hover .link {
	color: #555;
}
.list-item .link {
	padding-bottom: 2px;
	color: #444;
}
.list-item.selected .link {
	padding-bottom: 0;
	border-bottom: 2px solid black;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

/* menu */
.menu .list-item {
	font-size: 124%;
}
.menu .item1 {
	width: 50%;
	text-align: right;
}
.menu .item1 .link {
	margin-right: 20px;
}
.menu .item2 {
	padding-left: 20px;
}

/* student list */
.student-list {
	text-align: left;
}
.student-list-item {
	min-width: 210px;
	width: 16.25%;
}

/* about student */
.student img {
	max-width: 240px;
	margin: 0 1em 1em 0;
	float: left;
}

/* lecture list */
.lecture-list {
	text-align: left;
}
.lecture-list-item {
	min-width: 310px;
	width: 24%;
}

/* about lecture */
.lecture img {
	max-width: 240px;
	margin: 0 1em 1em 0;
	float: left;
}

/* ? */
p:hover .red-hover { color: red }
p:hover .yellow-hover { color: yellow }
p:hover .green-hover { color: green }
p:hover .blue-hover { color: blue }